.error-icon {
   text-align: center;
   display: block;
   margin-left: auto;
   margin-right: auto;
   height: 250px;
   width: 250px;
}

.error-response-title {
   text-align: center;
   font-size: 1.25rem;
}
.error-response-paragraph {
   text-align: center;
   font-size: 0.9rem;
}
